<div class="main-wrapper">
  <%= render "light_section" %>
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="cartListInner">
            <% if @order.line_items.empty? %>
              <p>カートは空です。</p>
            <% else %>
              <%= form_for @order, url: potepan_cart_path do |order_form| %>
                <%= render 'order_form', order: @order, order_form: order_form %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<%= render "potepan/shared/login_modal" %>
<%= render "potepan/shared/signup_modal" %>
