<div class="main-wrapper">
  <%= render "light_section" %>
  <section class="mainContent clearfix setp5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="thanksContent">
            <h2>Thank You !! <small>ご注文ありがとうございます。</small></h2>
            <h3>Shipping Details</h3>
            <div class="thanksInner">
              <div class="row">
                <div class="col-sm-6 col-xs-12 tableBlcok">
                  <address>
                    <span>Shipping address:</span> <a href="#"><%= @order.email %></a> <br>
                    <span>Email:</span> <a href="#"><%= @order.email %></a> <br>
                    <span>Phone:</span> <%= @order.ship_address.phone %>
                  </address>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="well">
                    <h2><small>Order ID</small><%= @order.number %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
