<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% option_types.colors.each do |color| %>
        <li>
          <% if params[:id] %>
            <%= link_to potepan_category_path(params[:id], color: color.name) do %>
              <%= color.presentation %><span><%= "(#{count_number_of_show_products(color.name)})" %></span>
            <% end %>
          <% else %>
            <%= link_to potepan_categories_path(color: color.name) do %>
              <%= color.presentation %><span><%= "(#{count_number_of_index_products(color.name)})" %></span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
