<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% option_types.sizes.each do |size| %>
        <li>
          <% if params[:id] %>
            <%= link_to potepan_category_path(params[:id], size: size.name) do %>
              <%= size.presentation %><span><%= "(#{count_number_of_show_products(size.name)})" %></span>
            <% end %>
          <% else %>
            <%= link_to potepan_categories_path(size: size.name) do %>
              <%= size.presentation %><span><%= "(#{count_number_of_index_products(size.name)})" %></span>
            <% end %>
          <% end %>  
        </li>
      <% end %>
    </ul>
  </div>
</div>
