<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render "potepan/shared/light_section", element: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render "side_bar", taxonomies: @taxonomies %>
        <%= render "main_panel", products: @products %>
      </div>
    </div>
  </section>
  <%= render "potepan/shared/partners" %>
</div>
<%= render "potepan/shared/login_modal" %>
<%= render "potepan/shared/signup_modal" %>
