<% provide(:title, "#{@taxon.name} - BIGBAG Store") %>
<div class="main-wrapper">
  <%= render "light_section", taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render "sideBar", taxonomies: @taxonomies %>
        <%= render "mainPanel", products: @products %>
      </div>
    </div>
  </section>
</div>
<%= render "potepan/shared/loginModal" %>
<%= render "potepan/shared/signupModal" %>
