<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render "potepan/shared/light_section", element: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render "filter_by_category", taxonomies: @taxonomies %>
          <%= render "filter_by_color", colors: @colors %>
          <%= render "filter_by_size", sizes: @sizes %>
        </div>
        <%= render "main_panel", products: @filtered_products %>
      </div>
    </div>
  </section>
  <%= render "potepan/shared/partners" %>
</div>
<%= render "potepan/shared/login_modal" %>
<%= render "potepan/shared/signup_modal" %>
