<div class="main-wrapper">

  <!-- BANNER -->
  <div class="bannercontainer">
    <div class="fullscreenbanner-container">
      <div class="fullscreenbanner">
        <ul>
          <li>
            <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= @edit_password_reset_url %>
      <%= render "popular_categories", category_taxons: @category_taxons %>
      <%= render "new_products", new_products: @new_products %>
    </div>
  </section>
  <%= render "potepan/shared/partners", brand_taxons: @brand_taxons %>
</div>
<%= render "potepan/shared/login_modal" %>
<%= render "potepan/shared/signup_modal" %>
<%= render "potepan/shared/reset_password_modal" %>
<%= render "potepan/shared/product_quick_view_modal" %>
